<li>
  <strong>Livro do Limite</strong> <em>(documento fundador)</em><br/>
  <a href="/01-foundations/livro-do-limite.md">Acessar documento</a><br/>
  <small>
    Este texto descreve o limite como condição ontológica de preservação da forma.
    Ele não concede direitos. Ele revela contornos.
  </small>
</li>
