---
import VPage from "../../layouts/VPage.astro";
---

<VPage title="Fundamentos">
  <p>
    Aqui se definem as responsabilidades, as formas legítimas de autoridade e os limites de proteção sistêmica.
  </p>
</VPage>

