---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.astro";
---

<BaseLayout>
  <Hero />

  <h2>Documentação</h2>
  <p>Escolha uma das seções no menu lateral para navegar pela License v4.</p>
</BaseLayout>
