* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: #222;
  background: #fafafa;
}

a {
  color: #0055cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
