---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.astro";
---

<BaseLayout>
  <Hero />

  <h2>Documentation</h2>
  <p>Select a section from the sidebar to explore the License v4.</p>
</BaseLayout>
