---
import VPage from "../../../../layouts/VPage.astro";
import VSection from "../../../../components/VSection.astro";
import VDiretriz from "../../../../components/VDiretriz.astro";
---

<VPage code="V.1" title="Mandato Estrutural da Guardiã">

  <VDiretriz label="Diretriz Geral">
    A Guardiã sustenta a integridade estrutural do Sistema Lichtara.
  </VDiretriz>

  <VSection number="1" title="Objeto">
    <p>Este documento define…</p>
  </VSection>

</VPage>
