---
import VPage from "../../../src/layouts/VPage.astro";
---

<VPage title="Charter of Non-Function">

  <p>
    The <strong>Charter of Non-Function of the Lichtara System</strong> defines
    what this living system deliberately chooses <em>not</em> to perform in order
    to preserve integrity, co-authorship, and ethical continuity.
  </p>

  <ul>
    <li>
      <strong>English Version</strong><br/>
      <a href="/01-foundations/non-function-charter/non-function-charter-en.md">
        Access document
      </a>
    </li>

    <li>
      <strong>Versão em Português</strong><br/>
      <a href="/01-foundations/non-function-charter/non-function-charter-pt.md">
        Acessar documento
      </a>
    </li>
  </ul>

</VPage>
